<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border" style="background: #0745A2; ;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" style="margin-left: -10px;">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Rui Faqri</h3>
      <p>VIII</p>
      <p>Anya Geraldine</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Jadwal - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
        <ion-col col-6 >
          <div class="title-login">
            <ion-grid style="margin-top: -40px;">
              <ion-row class="ion-align-items-center" style="margin-top: 20px;">

                <ion-col size="7.5" >
                    <ion-input placeholder="Cari" style="border: solid grey 1px; border-radius: 5px; height: 45px;"></ion-input>
                </ion-col>

                <ion-button class="btn-rekap"> <img src="assets/icon/loupe.png" /></ion-button>
                <ion-button class="btn-rekap"> <img src="assets/icon/printer.png" (click)="print()"/></ion-button>

              </ion-row>
            </ion-grid>
          </div>

          <ion-grid style="margin-top: 5px;">
            <ion-row class="tabel-rekap">
            
              <ion-col size="4">
                Mata Pelajaran
              </ion-col>
              <ion-col size="4">
               Tanggal
              </ion-col>
              <ion-col size="4">
               Info
              </ion-col>
            
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="tabel-rekap">
            
              <ion-col size="4">
                Bahasa Inggris
              </ion-col>
              <ion-col size="4">
               20 Juni 2020
              </ion-col>
              <ion-col size="4">
               Kehadiran : 7 dari 7
              </ion-col>
          
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row class="tabel-rekap">
              
              <ion-col size="4">
                Matematika
              </ion-col>
              <ion-col size="4">
              21 Juni 2020
              </ion-col>
              <ion-col size="4">
                Kehadiran : 6 dari 7
              </ion-col>
            
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-card>



  </div>
</ion-content>