<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>SMPN 1 LALAPAN</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;">
      <ion-col col-6>
        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="1">
              No
            </ion-col>
            <ion-col size="3">
              Mata Pelajaran
            </ion-col>
            <ion-col size="2">
              Kelas
            </ion-col>
            <ion-col size="3">
              Jam
            </ion-col>
            <ion-col size="3">
              Info
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="1">
              1
            </ion-col>
            <ion-col size="3">
              Bahasa Inggris
            </ion-col>
            <ion-col size="2">
              VII A
            </ion-col>
            <ion-col size="3">
              07.00 - 09.00 WIB
            </ion-col>
            <ion-col size="3">
              NaN
            </ion-col>
          </ion-row>
        </ion-grid>
     
        <ion-grid>
          <ion-row class="tabel-rekap">
            <ion-col size="12">
              Total : 1
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="margin-left: 10px; margin-top: 20px;">
          <p>Subjek : Bahasa Inggris</p>
          <p>Kelas : VII A</p>
          <p>Sekolah : SPMN 1 LALAPAN</p>
          <p>Informasi :</p>
          <ul>
            <li>Sakit : 1</li>
            <li>Izin : 2</li>
            <li>Hadir : 45</li>
          </ul>
        </div>
      </ion-col>
    </ion-card>



  </div>
</ion-content>