<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    <ion-item lines="none" class="n2  ">

      <ion-avatar slot="start" style="width: 75px; height: 75px;">
        <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
      </ion-avatar>
      <ion-label>
        <h3 style="color: white;">Rui Faqri</h3>
        <p style="color: white;">VIII</p>
        <p style="color: white;">Anya Geraldine</p>
      </ion-label>

    </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <h1>Laporan - Senin</h1>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px;">
      <ion-col col-6>


        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="3">
              Nama
            </ion-col>
            <ion-col size="3">
             Tanggal
            </ion-col>
            <ion-col size="3">
              Status
            </ion-col>
            <ion-col size="3">
             Jam
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row class="tabel-rekap">
           
            <ion-col size="3">
             Rui Faqri
            </ion-col>
            <ion-col size="3">
             Senin, 1 Juni 2020
            </ion-col>
            <ion-col size="3" style="color: blue;">
              Hadir
            </ion-col>
            <ion-col size="3">
              10.30
            </ion-col>
          </ion-row>
        </ion-grid>
     <ion-button class="e1" (click)="next()">Selesai</ion-button>
      </ion-col>
    </ion-card>



  </div>
</ion-content>