<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <img class="logo-img" src="assets/icon/user.png">
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
       <h3 class="font" style="color: black;">Nama : Rui Faqri</h3>
       <h3  class="font" style="color: black;">NIS : 201365</h3>
       <h3  class="font" style="color: black;">Kelas : VII A</h3>
       <h3  class="font" style="color: black;">Wali Kelas : Anya Geraldine</h3>
       <ion-button class="btn-ok" (click)="logout()">Logout</ion-button>
      </ion-card>



  </div>
</ion-content>