<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">

    <ion-avatar slot="start">
      <img src="https://habib.al-mawali.com/wp-content/uploads/IMG_4838-1-768x768.jpg">
    </ion-avatar>
    <ion-label>
      <h3>Rui Faqri</h3>
      <p>VIII</p>
      <p>Anya Geraldine</p>
    </ion-label>

  </ion-item>
</ion-header>

<ion-content padding>

  <div class="container">

    <div class="slides2">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <div>
                  <p
                    style="font-size: 32px; margin-bottom: -30px; margin-top: -30px; text-align: center; color: black;">
                    Laporan</p>
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>


    <ion-card style="margin-left: -0.1px; margin-top: 1px; width: 100%; border-radius: 0 0 0 0;">
      <ion-col col-6>
        <ion-col size="7.5">
          <ion-item style="margin-left: 10px; margin-right: 10px; margin-top: -10px;">
            <ion-label position="floating">Nama</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-item style="margin-left: 10px; margin-right: 10px; margin-top: 35px;">
          <ion-label>Alasan</ion-label>
          <ion-select placeholder="Pilih">
            <ion-select-option value="sakit">Sakit</ion-select-option>
            <ion-select-option value="kegiatan">Kegiatan luar sekolah</ion-select-option>
            <ion-select-option value="lupa presensi">Lupa presensi</ion-select-option>
            <ion-select-option value="lainnya">Lainnya</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item style="margin-left: 10px; margin-right: 10px;">
          <ion-label position="floating">Deskripsi</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>

        <ion-col size="12">
          
          <ion-row>
            <ion-col size="7">
              <ion-item style="margin-left: 10px; ">
                <ion-label position="floating">Upload File</ion-label>
                <ion-input></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="5">
              <ion-button  style="margin-top: 55px;">Tambah file</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-col>

      <ion-button  (click)="report()" expand="block" class="btn-ok">Kirim</ion-button>
    </ion-card>

  </div>
</ion-content>