<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back">
        <img class="logo-img" src="assets/icon/arrow-back.png" (click)="back()" />
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>


</ion-header>

<ion-content>
  <div class="container">

    <div class="slides">


      <div class="ion-activatable ripple-parent">
        <ion-card-header class="konten">


          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <div class="title-login">
                  <img class="logo-img" src="assets/icon/user.png">
                </div>


              </ion-col>

            </ion-row>
          </ion-grid>

        </ion-card-header>
      </div>
    </div>

 
      <ion-card style="margin-left: -0.1px; margin-top: 1px;">
       <h3 class="font" style="color: black;">Nama : Rui Faqri</h3>
       <h3  class="font" style="color: black;">NIS : 201365</h3>
       <h3  class="font" style="color: black;">Kelas : VII A</h3>
       <h3  class="font" style="color: black;">Wali Kelas : Anya Geraldine</h3>
       <ion-button class="btn-ok" (click)="logout()">Logout</ion-button>
      </ion-card>



  </div>
</ion-content>